 body{

    background-color:pink ;}
    /* border:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    flex-direction: column;

}
.heading{
    font-size: 100px;
    text-align: center;
    color: blueviolet;
    text-transform: capitalize;
}
.heading{
    background-color: aquamarine;
    color: blue;
    font-size:40px;
    text-transform: capitalize;
}
.heading{
    background-color: aquamarine;
    color:black;
    text-transform: capitalize;
}


#btn{
    background-color: blueviolet;
    padding:20px;
    font-size:20px;
    border-radius:20px;
}  */
  #box{
    height: 100px;
    width: 100px;
    padding:20px;
    border:10px solid black;
    margin:10px;
    text-align: center;
    background-color: blue;
  }
